<form (ngSubmit)="onSubmit()" [formGroup]="authForm" class="form row g-3">
  <div class="col-md-12">
    <div
      *ngIf="authForm.errors?.invalidDate"
      class="alert alert-danger"
      role="alert"
    >
     Fechas seleccionadas para la comisión inválidas.
    </div>
    <label for="typeCommission" class="form-label">Tipo de comisión</label>
    <select
      formControlName="typeCommission"
      id="typeCommission"
      class="form-select"
      aria-label="Default select example"
    >
      <option value="Transporte">Transporte</option>
      <option value="Viaticos">Viaticos</option>
    </select>
  </div>
  <div class="col-md-6 form-group">
    <label for="beginDate" class="form-label">Inicio</label>
    <input
      formControlName="beginDate"
      [ngClass]="
        authForm.get('beginDate').errors?.requiredField ? 'is-invalid' : ''
      "
      class="form-control"
      type="date"
      id="beginDate"
    />
    <div class="invalid-feedback">
      Por favor ingrese una fecha.
    </div>
  </div>
  <div class="col-md-6 form-group">
    <label for="endDate" class="form-label">Fin</label>
    <input
      formControlName="endDate"
      [ngClass]="
        authForm.get('endDate').errors?.requiredField ? 'is-invalid' : ''
      "
      class="form-control"
      type="date"
      id="endDate"
    />
    <div class="invalid-feedback">
      Por favor ingrese una fecha.
    </div>
  </div>
  <div class="col-md-12 form-group">
    <label for="placeCommission" class="form-label">Lugar de la comisión</label>
    <input
      formControlName="placeCommission"
      [ngClass]="
        authForm.get('placeCommission').errors?.requiredField ? 'is-invalid' : ''
      "
      class="form-control"
      type="text"
      id="placeCommission"
      maxlength="45"
    />
    <div class="invalid-feedback">
      Por favor ingrese el lugar de la comisión.
    </div>
  </div>
  <div class="col-12 mb-2 mt-4">
    <button type="submit" class="btn btn-outline-red">Solicitar</button>
  </div>
</form>
