<main>
  <div class="p-2 p-md-4">
    <h1 class="display-5">Comisiones</h1>
  </div>
  <div class="container">
    <button
      type="button"
      class="btn btn-outline-red"
      data-bs-toggle="modal"
      data-bs-target="#reqCommissionModal"
    >
      Solicitar comisión
    </button>
    <div class="card mt-4 mb-4">
      <div class="card-header card-header-main">
        <h2 class="h5">Comisiones solicitadas</h2>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Tipo de comisión</th>
                <th scope="col">Fecha de inicio de la comisión</th>
                <th scope="col">Fecha de termino de la comisión</th>
                <th scope="col">Estatus</th>
                <th scope="col">Comprobantes</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let commission of commissions">
                <td>{{ commission.typeCommission }}</td>
                <td>{{ commission.beginDate }}</td>
                <td>{{ commission.endDate }}</td>
                <td
                  [ngClass]="
                    commission.isApproved ? 'text-success' : 'text-secondary'
                  "
                >
                  {{ commission.isApproved ? "Aprobada" : "Por aprobar" }}
                </td>
                <td class="text-center">
                  <button
                    [ngClass]="
                      commission.isApproved
                        ? 'btn-outline-secondary'
                        : 'disabled btn-outline-secondary'
                    "
                    class="btn btn-sm"
                  >
                    <i class="fa fa-file-code"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</main>
<app-modal idModal="reqCommissionModal">
  <h5 modalTitle>Solicitar comisión</h5>
  <app-commission-form></app-commission-form>
</app-modal>
