<form (ngSubmit)="onSubmit()" [formGroup]="authForm" class="form row g-3">
  <div
    *ngIf="authForm.errors?.invalidFile"
    class="alert alert-danger"
    role="alert"
  >
    A ocurrido un error, formato de archivo invalido, el archivo enviado debe ser de extensión .xml
  </div>
  <div class="col-md-6 form-group">
    <label for="date" class="form-label">Fecha</label>
    <input
      formControlName="date"
      [ngClass]="authForm.get('date').errors?.requiredField ? 'is-invalid' : ''"
      class="form-control"
      type="date"
      id="date"
    />

    <div class="invalid-feedback">
      Por favor ingrese la fecha de la factura.
    </div>
  </div>
  <div class="col-md-6 form-group">
    <label for="amount" class="form-label">Monto</label>
    <div class="input-group has-validation">
      <span class="input-group-text" id="inputGroupPrepend">$</span>
      <input
        formControlName="amount"
        [ngClass]="
          authForm.get('amount').errors?.requiredField
            ? 'is-invalid'
            : authForm.get('amount').errors?.rangeError
            ? 'is-invalid'
            : ''
        "
        class="form-control"
        type="number"
        maxlength="11"
        min="1"
        max="99999999999"
        id="amount"
      />
      <div
        *ngIf="authForm.get('amount').errors?.requiredField"
        class="invalid-feedback"
      >
        Por favor ingrese el monto de la factura.
      </div>
      <div
        *ngIf="authForm.get('amount').errors?.rangeError"
        class="invalid-feedback"
      >
        Por favor ingrese un monto valido.
      </div>
    </div>
  </div>
  <div class="col-md-12 form-group">
    <label for="factureDescription" class="form-label">Descripción</label>
    <select
      formControlName="factureDescription"
      class="form-select"
      id="factureDescription"
    >
      <option value="Gastos de transporte">Gastos de transporte</option>
      <option value="Gastos de alimentación">Gastos de alimentación</option>
      <option value="Gastos de hospedaje">Gastos de hospedaje</option>
      <option value="Otros gastos">Otros gastos</option>
    </select>
  </div>
  <div class="col-md-12 form-group">
    <label for="facture" class="form-label">Archivo</label>
    <input
      (change)="onFileChange($event)"
      formControlName="facture"
      [ngClass]="
        authForm.get('facture').errors?.requiredField ? 'is-invalid' : ''
      "
      class="form-control"
      type="file"
      accept=".xml"
      id="facture"
    />
    <div class="invalid-feedback">Por favor ingrese un archivo.</div>
  </div>
  <div class="col-12 mb-2 mt-4">
    <button type="submit" class="btn btn-outline-primary">Agregar</button>
  </div>
</form>
