<nav class="navbar navbar-expand-lg navbar-dark bg-wine shadow">
  <div class="container-fluid" *ngIf="profileName">
    <span class="navbar-brand">Sistema de comisiones</span>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarText"
      aria-controls="navbarText"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul
        *ngIf="profileName === 'Empleado'"
        class="navbar-nav me-auto mb-2 mb-lg-0"
      >
        <li class="nav-item">
          <a
            class="btn btn-outline-secondary color-wine mb-sm-2 mb-lg-0"
            routerLink="/employees/home"
            routerLinkActive="color-wine-active"
            >Inicio</a
          >
        </li>
        <li class="nav-item">
          <a
            class="btn btn-outline-secondary color-wine"
            routerLink="/employees/commissions"
            routerLinkActive="color-wine-active"
            >Comisiones</a
          >
        </li>
      </ul>
      <a class="btn" routerLink="/signout" class="btn btn-outline-secondary">
        Cerrar sesión
      </a>
    </div>
  </div>
</nav>
