.form
{
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
}

.form .row
{
    margin-left: 0;
    margin-top: 1.8rem;
    margin-bottom: 1rem;
    margin-right: 0;
}

.login-form
{
    padding-top: 7.5rem;
    padding-bottom: 3rem;
}

.login-form .row
{
    margin-left: 0;
    margin-right: 0;
}