<form (ngSubmit)="onSubmit()" [formGroup]="authForm" class="form row g-3">
  <div
    *ngIf="authForm.errors?.invalidDate"
    class="alert alert-danger"
    role="alert"
  >
    Formato de archivo invalido.
  </div>
  <div class="col-md-6 form-group">
    <label for="date" class="form-label">Fecha</label>
    <input
      formControlName="date"
      [ngClass]="authForm.get('date').errors?.requiredField ? 'is-invalid' : ''"
      class="form-control"
      type="date"
      id="date"
    />
    <div class="invalid-feedback">Por favor ingrese la fecha de la factura.</div>
  </div>
  <div class="col-md-6 form-group">
    <label for="amount" class="form-label">Monto</label>
    <input
      formControlName="amount"
      [ngClass]="
        authForm.get('amount').errors?.requiredField ? 'is-invalid' : ''
      "
      class="form-control"
      type="number"
      id="amount"
    />
    <div class="invalid-feedback">Por favor ingrese el monto de la factura.</div>
  </div>
  <div class="col-md-12 form-group">
    <label for="factureDescription" class="form-label">Descripción</label>
    <select
      formControlName="factureDescription"
      class="form-select"
      id="factureDescription"
    >
      <option value="Gastos de transporte">Gastos de transporte</option>
      <option value="Gastos de alimentación">Gastos de alimentación</option>
      <option value="Gastos de hospedaje">Gastos de hospedaje</option>
      <option value="Otros gastos">Otros gastos</option>
    </select>
  </div>
  <div class="col-md-12 form-group">
    <label for="facture" class="form-label">Archivo</label>
    <input
      (change)="onFileChange($event)"
      formControlName="facture"
      [ngClass]="
        authForm.get('facture').errors?.requiredField ? 'is-invalid' : ''
      "
      class="form-control"
      type="file"
      accept=".xml"
      id="facture"
    />
    <div class="invalid-feedback">Por favor ingrese un archivo.</div>
  </div>
  <div class="col-12 mb-2 mt-4">
    <button type="submit" class="btn btn-outline-red">Agregar</button>
  </div>
</form>
