<h1 class="display-5">Departamentos</h1>
<div class="mt-4 row">
  <div
    *ngFor="let department of departments"
    class="card me-4 mb-4"
    style="width: 22rem"
  >
    <div class="card-body">
      <h5 class="card-title">
        Departamento de {{ department.departmentDescription }}
      </h5>
      <p class="card-text">
        Presupuesto para viáticos: ${{ department.budgetViatic | number: "1.2"}} MXN
      </p>
    
      <p class="card-text">Presupuesto para transportes: ${{ department.budgetTransport | number: "1.2"}} MXN</p>
      <a href="/finances/{{department.departmentDescription}}/commissions" class="card-link">Ver solicitudes</a>
    </div>
  </div>
</div>
