<h1>Detalles de la comisión</h1>
<a
  routerLink=".."
  type="button"
  class="btn btn-outline-secondary mt-3 mb-4"
>
  <i class="fa fa-angle-left"></i> Regresar
</a>
<div class="row mt-2">
  <p  class="text-muted" *ngIf="notFoundError">No se encontro el recurso solicitado.</p>
  <div class="col-md-12 col-lg-5 mb-5">
    <div>
      <app-commission-details
        *ngIf="commission"
        [commission]="commission"
      ></app-commission-details>
    </div>
  </div>
  <div class="col-md-12 col-lg-7">
    <app-facture-data-table
      *ngIf="factures"
      [factures]="factures"
      [pagination]="facturesPagination"
      [commissionApprovalStatus]="
        commission?.financesApproval && commission?.managerApproval
      "
      (selectIndexEvent)="onChangeFacturePage($event)"
      class="facturesTable"
    >
      <button
        *ngIf="commission?.financesApproval && commission?.managerApproval"
        type="button"
        class="btn btn-outline-primary"
        data-bs-toggle="modal"
        data-bs-target="#reqFactureModal"
      >
        <i class="fa fa-plus"></i> Agregar factura
      </button>
    </app-facture-data-table>
  </div>
</div>
<app-modal
  *ngIf="commission?.financesApproval && commission?.managerApproval"
  idModal="reqFactureModal"
>
  <h5 modalTitle>Agregar factura</h5>
  <app-facture-form></app-facture-form>
</app-modal>
